.passangersData {
    background-color: rgba(194, 227, 255, 0.8);
    padding: 18px 8px 8px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.title {
    color: var(--color-main);
    font-size: 18px;
    margin-bottom: 18px;
}

.box {
    border-top: 1px solid #ffffff;
    padding: 8px 0;
    text-align: left;
    color: var(--text-color-main);
    font-size: 14px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
}

.description {
    width: 230px;
}

.img {
    min-width: 30px;
    max-width: 30px;
    margin-right: 8px;
}

.btn {
    background: none;
    border: none
}

.total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.total p {
    margin-right: 10px;
}

.total span {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-main);
    margin: 0 10px;
}

.checkbox {
    height: 16px;
    width: 16px;
}

.nameAddServ {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
}



@media (min-width: 576px) {
    .title {
        font-size: 24px;
    }

    .total {
        margin-top: 6px;
        font-size: 16px;
    }

    .nameAddServ {
        font-size: 18px;
    }

    .total span {
        font-size: 18px;
    }

    .flex,
    .item {
        align-items: center;
    }

    .checkbox {
        height: 18px;
        width: 18px;
        margin-right: 5px;
    }
}