.container {
    width: 96%;
    margin: 0 auto;
    text-align: center;
}

.title,
.customer {
    color: var(--color-main);
    font-size: 18px;
    margin-bottom: 18px;
}

.customer {
    margin-bottom: 5px;
}

.box {
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background: rgba(194, 227, 255, 0.8);
    padding: 5px;
}



.svgBox {
    padding: 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    height: 50px;
    width: 50px;
    position: relative;
    /* margin: 0 20px 0 0; */
}

.svg {
    position: absolute;
    top: 6px;
    left: 6px;
}

.svgBox span {
    display: block;
    width: 20px;
    height: 20px;
    padding-top: 1px;
    background-color: #ffffff;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    text-align: center;
    color: var(--color-secondary);
    font-size: 14px;
    position: absolute;
    right: -10px;
    top: 12px;
}

.inputBox {
    width: 90%;
    padding: 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 100%;
    background: #fff;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    font-size: 16px;
    color: #636363;
    outline: none;
    margin-bottom: 8px;
}

.errorPhone {
    border: red
}


.price {
    color: var(--color-secondary);
    margin-right: 10px;
    font-weight: 700;
    font-size: 18px;
}

.buttonRemove {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url(../../images/clear-black-36dp.svg);
    border: none;
    cursor: pointer;
}

.buttonRemove:disabled,
.buttonAdd:disabled {
    display: none;
}

.buttonAdd {
    width: 220px;
    margin: 0 auto;
    padding: 15px 5px 15px 40px;
    display: block;
    background-image: url('../../images/person_add_alt_1-24px.svg');
    background-color: var(--color-third);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border-radius: 20px;
    border: none;
    color: var(--color-secondary);
    cursor: pointer;
    margin-bottom: 30px;
}

.buttonAdd:hover,
.buttonAdd:focus,
.buttonBuy:hover,
.buttonBuy:focus {
    background-color: var(--color-main);
}

.input[type='email'] {
    width: 96%px;
    margin-bottom: 20px;
    border-width: 2px;
}

.buttonBuy {
    width: 220px;
    margin: 0 auto;
    margin-bottom: 12px;
    padding: 15px 0;
    text-align: center;
    display: block;
    background-color: var(--color-third);
    border-radius: 20px;
    border: none;
    color: var(--color-secondary);
    cursor: pointer;

}

.buttonBuy:disabled {
    color: #444444;
    background-color: #636363;
    cursor: not-allowed;
}

.text {
    text-align: left;
    font-size: 14px;
    font-style: italic;
    color: #444444;
}

.publicOfferBox {
    margin-bottom: 14px;
    display: flex;
    text-align: left;
    font-size: 14px;
}

.publicOfferBox input {
    height: 22px;
    width: 22px;
    margin-right: 6px;
}

.publicOfferBox p {
    color: #444444;
    padding-top: 4px;

}

.publicOfferBox span {
    color: var(--color-main);
    cursor: pointer;
}

.red {
    border: 1px solid red
}

@media (min-width:768px) {
    .container {
        width: 400px;
    }

    .buttonAdd,
    .buttonBuy {
        margin: 0 0 12px 0;
    }
}

@media (min-width:992px) {
    .container {
        width: 600px;
        text-align: left;
    }

    .title {
        font-size: 24px;
    }

    .box {
        flex-direction: row;
        align-items: flex-start;
    }

    .svgBox {
        margin-right: 18px;
    }

    .inputBox {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .input {
        width: 150px;
        margin-right: 8px;
    }

    .buttonRemove {
        top: 18px;
    }

    .input[type='email'] {
        width: 300px;
    }

    .customer {
        margin-bottom: 18px;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 700px;
        margin: 0;
    }

    .inputBox {
        padding-top: 8px;
        align-items: center;
    }

    .input {
        width: 150px;
        margin-bottom: 0;
    }

    .buttonRemove {
        top: 15px;
    }

}

.inputPhone {
    width: 170px;
    background: #fff;
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    font-size: 16px;
    color: #636363;
    outline: none;
    margin-bottom: 8px;
    border: 1px solid var(--color-secondary);
}

.red {
    border: 1px solid red;
}