.container {
    width: 96%;
    margin: 0 auto;
    text-align: center;
}

.passangersData {
    background-color: rgba(194, 227, 255, 0.8);
    padding: 18px 8px;
    margin-bottom: 20px;
    /* border-radius: 4px; */
}
.passangersData:first-child {
border-radius: 10px 10px 0 0;
}

.passangersData:last-child {
    border-radius: 0 0 10px 10px ;
    }


.title,
.customer {
    color: var(--color-main);
    font-size: 18px;
    margin-bottom: 18px;
}

.customer {
    margin-bottom: 5px;
}

.box {
    position: relative;
    border-top: 1px solid #ffffff;
    padding: 8px 0;
}

.svgBox {
    padding: 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    height: 50px;
    width: 50px;
    position: relative;
    margin: 0 auto 10px
}

.svg {
    position: absolute;
    top: 6px;
    left: 6px;
}

.svgBox span {
    display: block;
    width: 20px;
    height: 20px;
    padding-top: 1px;
    background-color: #ffffff;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    text-align: center;
    color: var(--color-secondary);
    font-size: 14px;
    position: absolute;
    right: -10px;
    top: 12px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.emailBox {
    border-top: 1px solid #fff;
    padding-top: 4px;
}

.label {
    padding-left: 12px;
    font-style: italic;
    color: #636363;
}

.input,
.inputPhone {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 14px;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    color: #636363;
    outline: none;

}

.inputPhone {
    padding: 9px 10px;
    background: #fff;
    margin-bottom: 15px;

}

.price {
    color: var(--color-secondary);
    margin-right: 10px;
    font-weight: 700;
    font-size: 18px;
}

.buttonRemove {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url(../../images/clear-black-36dp.svg);
    border: none;
    cursor: pointer;
}

.buttonRemove:disabled,
.buttonAdd:disabled {
    display: none;
}

.buttonAdd {
    width: 220px;
    margin: 0 auto;
    padding: 15px 5px 15px 40px;
    display: block;
    background-image: url('../../images/person_add_alt_1-24px.svg');
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border-radius: 10px;
    color: var(--color-main);
    cursor: pointer;
    box-shadow: 0 0 3px 2px rgb(152, 206, 253);
    
}

.buttonAdd:hover,
.buttonAdd:focus {
    box-shadow: 0 0 4px 3px rgb(148, 204, 253);
    ;

}

.buttonBuy {
    width: 220px;
    padding: 15px 5px ;
    display: block;
    background-color: rgb(143, 202, 253);
    border: 1px solid rgb(99, 179, 250);
    border-radius: 10px;
    color: var(--color-main);
    cursor: pointer;
    box-shadow: 0 0 3px 1px rgb(128, 195, 253);
}

.buttonBuy:hover:enabled,
.buttonBuy:focus {
    box-shadow: 0 0 3px 2px rgb(99, 179, 250);
}

.buttonBuy:disabled {
    color: #353535;
    cursor: not-allowed;
    opacity: 0.5;
}

.text {
    text-align: left;
    font-size: 14px;
    font-style: italic;
    color: #444444;
}

.publicOfferBox {
    margin-bottom: 14px;
    display: flex;
    text-align: left;
    font-size: 14px;
}

.publicOfferBox input {
    min-width: 20px;
    height: 20px;
    margin: 6px 6px 0 0;
}

.publicOfferBox p {
    color: #444444;
    padding-top: 4px;

}

.publicOfferBox a {
    color: var(--color-main);
    cursor: pointer;
}

.red {
    border: 1px solid var(--color-danger)
}

.redText {
    color: var(--color-danger);
    margin-top: -14px;
    font-size: 12px;
    font-style: italic;
    padding-left: 4px;
}

.summBox {
    text-align: right;
    border-top: 1px solid #fff;
    border-bottom: 1px solid var(--color-main);

    padding: 8px 0;
}

.summa {
    display: inline-block;
    width: 96px;
}

.total {
    text-align: right;
    padding: 8px 0;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid var(--color-main);
    margin-bottom: 10px;
    color: var(--color-main)
}
.total .summa {
    width: 160px;
    letter-spacing: 1.5px;
}

@media (min-width:768px) {
    .container {
        width: 400px;
    }

    /* .buttonAdd,
    .buttonBuy {
        margin: 0 0 12px 0;
    } */
}

@media (min-width:992px) {
    .container {
        width: 600px;
        text-align: left;
    }

    .title {
        font-size: 24px;
    }

    .box {
        display: flex;
        align-items: center;
    }

    .svgBox {
        margin: 0 14px 0 0;
    }

    .inputsContainer {
        display: flex;
    }

    .input {
        width: 150px;
        margin-right: 8px;
    }

    .inputPhone {
        width: 176px;
    }

    .buttonRemove {
        top: 30px;
        right: -0px;
    }

    .input[name='email'] {
        width: 300px;
    }

    .customer {
        margin-bottom: 18px;
    }

    .redText {
        font-size: 11px;
    }
    .publicOfferBox input {
        
        margin: 0px 6px 0 0;
    }
    
}

@media (min-width: 1200px) {
    .container {
        width: 700px;
        margin: 0;
    }

    .inputsContainer {
        padding-top: 8px;
        align-items: center;
    }

    .input,
    .inputPhone {
        width: 190px;
        margin-bottom: 15px;
    }

    .buttonRemove {
        top: 38px;
    }

}