.container {
    width: 720px;
}

.title {
    color: var(--color-main)
}

.box {
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.svgBox {
    padding: 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    height: 50px;
    width: 50px;
    position: relative;
    margin: 0 20px 0 0;
}

.svg {
    position: absolute;
    top: 6px;
    left: 6px;
}

.svgBox span {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    text-align: center;
    color: var(--color-secondary);
    font-size: 14px;
    position: absolute;
    right: -10px;
    top: 12px;
}

.inputBox {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.input {
    width: 150px;
    background: #fff;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    font-size: 16px;
    color: #636363;
    outline: none;
    margin-right: 20px;
}

.price {
    color: var(--color-secondary);
    margin-right: 10px;
    font-weight: 700;
    font-size: 18px;
}

.buttonRemove {
    width: 30px;
    height: 30px;
    background: url(../../images/clear-black-36dp.svg);
    border: none;
    cursor: pointer;
}

.buttonAdd {
    width: 200px;
    padding: 15px 0 15px 40px;
    display: block;
    background-image: url('../../images/person_add_alt_1-24px.svg');
    background-color: var(--color-third);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    border-radius: 20px;
    border: none;
    color: var(--color-secondary);
    cursor: pointer;
    margin-bottom: 30px;
}

.buttonAdd:hover,
.buttonAdd:focus,
.buttonBuy:hover,
.buttonBuy:focus {
    background-color: var(--color-main);
}

.input[type='email'] {
    width: 400px;
    margin-bottom: 30px;
    border-width: 2px;
}

.buttonBuy {
    width: 200px;
    padding: 15px  0;
    text-align: center;
    display: block;
    background-color: var(--color-third);
    border-radius: 20px;
    border: none;
    color: var(--color-secondary);
    cursor: pointer;
}