.selectBox {
    margin-bottom: 6px;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-main)
}

.select {
    width: 170px;
    border: 2px solid var(--color-main);
    border-radius: 6px;
    padding: 8px 4px;
    background: transparent;
    outline: none;
    color: var(--color-main)
}

.option {
    color: black
}