.titleDouble {
    color:var(--text-color-title);
    padding-left: 6px;
}
.tripsBox {
    padding-bottom: 20px;
}
.title {
    /* width: 300px; */
    margin: 20px auto 20px;
    font-size: 30px;
    text-align: center;
    color: var(--text-color-title);
}