.box {
    width: 90%;
    margin: 100px auto;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 0;
    border-radius: 6px;
}

.text {
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
}

.link {
    width: 80%;
    background-color: var(--color-main);
    padding: 10px;
    margin-top: 20px;
    color: var(--color-secondary);
    font-weight: 500;
    box-shadow: 0 0 2px 2px rgb(83, 83, 83);
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

@media(min-width: 992px){
    .box {
        width: 50%;
    }
}