@import './normalize.css';
@import './vars.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
}

li {
    list-style: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
button, input {
    outline: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color-main);

}

.logo {
    width: 150px;
    height: 45px;
    margin: 10px;
    background-image: url('../images/ibusik-logo-white.png');
    content: '';
}

.nav {
    display: flex;
}

.bnd-img {
    padding-top: 40px;
    /* background-image: url('../images/bus.jpg'); */
    /* background-color: aquamarine; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 95%;
}

.title {
    color: #ffffff;
    width: 300px;
    margin: 0 auto;
}

 .react-datepicker__header {
    background-color: var(--color-main) !important;
}
div > .react-datepicker__current-month, div > .react-datepicker__day-name {
    color:#ffffff 
}

.iconsBox {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: #ffffff

}

.iconItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin-bottom: 40px;
    text-align: center;
}
.iconItem img {
    width: 48px;
}

