.passangersBox {
    padding: 12px 0 ;
    border-top: 1px solid var(--color-main);
}

.subTitle {
    font-size: 18px;
    font-weight: 700;
    color: #232323;
    margin-bottom: 8px;
}

.passangersBox li {
    margin-bottom: 10px;
}
.passangersBox li:last-child {
    margin-bottom: 0px;
}

.header {
    margin-bottom: 8px;
    background-color: #c2e3ffcc;
    /* font-size: 18px; */
    font-weight: 700;
    color: #000000;
    padding: 12px 0 12px 12px;
    border-radius: 4px;
}

.number {
    margin-bottom: 8px;
    color: #000000;
}

.price {
    color: #000000;
}

.price span {
    font-weight: 400;
}
.status {
    color: var(--color-secondary);
    margin: 0 6px;
}

.passangerData {
    padding-left: 12px;
}

.passangerData div {
    margin-bottom: 10px;
}

.passangerData div:last-child {
    margin-bottom: 0;
}

.passangerTitle {
    font-size: 14px;
    color: #383838;
    margin-bottom: 6px;
}

.passangerName {
    text-transform: uppercase;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

@media (min-width: 576px) {
    .passangersBox {
        width: 100%;
    }

    .passangersBox li:last-child {
        margin-bottom: 0;
    }

    .header {
        display: flex;
    }

    .number {
        margin: 0 20px 0 0;
    }
}

@media (min-width: 768px) {


    .passangerTitle {
        margin-bottom: 16px;
    }

    .passangerData {
        display: flex;
    }

    .passangerData div {
        width: 170px;
        margin: 0 20px 0 0;
    }

    .title {
        font-size: 24px;
    }
}