.orderBox {
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid var(--color-main); */

}

.locality {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color-title);
    margin-bottom: 2px;
}

.subTitle {
    font-size: 18px;
    font-weight: 700;
    color: #232323;
    margin-bottom: 8px;
}

.orderBox div {
    padding-bottom: 28px;
    position: relative;
}

.arrow {
    margin-bottom: 20px;

}

.localityStop,
.date {
    font-size: 16px;
    font-weight: 500;
    color: #383838;
}

.date {
    position: absolute;
    bottom: 8px;
    left: -1px;
}

@media (min-width: 576px) {
    .orderBox {
        width: 100%;
        padding-bottom: 12px;
        flex-direction: row;
    }

    .orderBox div {
        width: 200px;
    }

    .subTitle {
        margin: 0 12px 0 0;
    }

    .passangersBox {
        width: 100%;
    }

    .passangersBox li:last-child {
        margin-bottom: 0;
    }

    .arrow {
        margin-bottom: 0;
    }

   
}

@media (min-width: 768px) {

    .subTitle,
    .locality {
        font-size: 20px;
    }
    .locality {
        font-size: 18px;
        padding-top: 2px;
    }

    .orderBox div {
        width: 300px;
    }
}

@media(min-width: 992px) {
    
}

@media(min-width: 1200px) {
    

    .orderBox div {
        width: 400px;
    }
}