.box {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 12px;
    color: var(--text-color-main);

}

.gray {
    background-color: rgb(241, 241, 241);
}

.orderBox {
    border-bottom: 2px solid rgb(226, 226, 226);
    display: flex;
}

.locality {
    font-weight: 700;
}

.orderBox div {
    margin-bottom: 6px;
    width: 320px;

}

.header {
    margin-top: 12px;
    font-weight: 500;
}
.passangerName {
    text-transform: capitalize;
}
@media (min-width: 576px) {
    .orderBox div {
        margin-right: 6px;
        width: 250px;

    }
}

@media (min-width: 768px) {
    .orderBox div {
        margin-right: 6px;
        width: 350px;

    }
}