.selectBox {
    font-size: 14px;
    color: var(--color-secondary);
}

.select {
    padding: 6px 22px 6px 4px;
    background-color: var(--color-main);
    background-image: url(../../images/expand_more_black.svg);
    background-repeat: no-repeat;
    background-position: right;
    outline: none;
    color: var(--color-secondary);
    border: none;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select:focus {
    transform: scale(1.03);
}


@media (min-width: 768px) {
    .selectBox {
        font-size: 16px;
    }

    .select {
        padding: 8px 22px 8px 4px;
    }
}