.box {
	border: 2px solid var(--color-main);
	border-radius: 6px;
	padding: 6px;
}

.title {
	color: var(--text-color-title);
	text-align: center;
}

.flex {
	display: flex;
	justify-content: space-between;
	margin-bottom: 6px;

}

.flex:first-child {
	margin-bottom: 10px;
}

.bonusTitle {
	font-size: 16px;
	font-weight: 500;
	width: 30%;
	text-align: center;
	color: var(--text-color-title);
}

.bonusAmount {
	font-size: 16px;
	font-weight: 500;
	width: 30%;
	text-align: center;
	color: var(--text-color-main);
}

.total {
	text-align: right;
	color: var(--color-main);
	font-weight: 700;
	font-size: 18px;
	border-top: 1px solid var(--color-main);
	padding-top: 6px;
}

@media (min-width: 768px) {
	.sticky {
		position: sticky;
		top: 10px;
	}
}