.list {
    border: 1px solid var(--color-secondary);
    box-shadow: 0 6px 7px -2px #959595;
    width: 300px;
    background-color: #fff;

}

.item {
    padding: 10px;
    border-bottom: 1px solid #636363;
}

.item:last-child {
    border: none;
}

.link {
    color: #636363;
    display: flex;
    justify-content: space-between;
}