.container {
margin-bottom: 20px;
}
.title {
    margin-bottom: 20px;
}

.list {
    width: 300px;
    margin: 0 auto;
    border: 1px solid var(--color-secondary);
    box-shadow: 0 6px 7px -2px #959595;
    background-color: #fff;

}

.item {
    padding: 10px;
    border-bottom: 1px solid #636363;
}

.item:last-child {
    border: none;
}

.link {
    color: #636363;
    display: flex;
    justify-content: space-between;
}
@media(min-width: 768px) {
    .container {
        width: 50%;
    }
    .list {
        margin: 0;
    }
    .title {
        font-size: 20px;
    }
}
@media(min-width: 992px) {
    
    .title {
        font-size: 24px;
    }
}