.data{
    padding: 12px;
    margin-bottom: 12px;
    background-color: #ffffff;
    border: 1px solid #838282;
    box-shadow: 0 0 3px 2px #838282;
    border-radius: 10px;
}
.list {
    display: flex;
    width: 300px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link {
    display: block;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
    background-color: var(--color-third);
    color: var(--color-secondary);
    border-radius: 12px;
}

.link:active {
    color: red
}

.title {
    text-align: center;
}

.text {
    font-size: 22px;
    text-align: center;
    margin-bottom: 12px;
}

.text span {
    font-weight: 500;
}


.red {
    color: var(--color-danger)
}

.blue {
    color: var(--color-main)
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .main {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .main {
        padding-top: 30px;
    }
}

@media (min-width: 1200px) {}