.bgnd {
    background-image: url('../images/BlankMap-Europe.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
}
.container {
    padding-top: 60px;
}
.formBox {
    width: 96%;
    margin: 0 auto;
    padding: 30px 17px;
    background-color: rgba(0, 0, 0, 0.5);
}

.main {
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 10px 0;
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        
    }
    .main {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .main {
        padding-top: 30px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
} 
