.data {
    padding: 12px;
    margin-bottom: 12px;
    background-color: #ffffff;
    border: 1px solid #838282;
    box-shadow: 0 0 3px 2px #838282;
    border-radius: 10px;
}


/* @media (min-width: 576px) {
    .passangersBox {
        width: 100%;
    }

    .passangersBox li:last-child {
        margin-bottom: 0;
    }

    .header {
        display: flex;
    }

    .number {
        margin: 0 20px 0 0;
    }
}

@media (min-width: 768px) {
    .passangerTitle {
        margin-bottom: 16px;
    }

    .passangerData {
        display: flex;
    }

    .passangerData div {
        width: 170px;
        margin: 0 20px 0 0;
    }

    .title {
        font-size: 24px;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {} */ 