.bgnd {
    background-image: url('../images/BlankMap-Europe.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background-position: center;
}

.container {
    padding-top: 60px;
}

.title {
    font-size: 18px;
    font-weight: 700;
    color: #232323;
    margin-bottom: 8px;
}

.passangersBox {
    width: 96%;
    margin: 0 auto;
    padding-bottom: 12px;
    box-shadow: 0px 1px 3px 1px #7a7a7a;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

.passangersBox>.subTitle {
    padding: 12px 12px 12px;
}

.passangersBox li {
    margin-bottom: 16px;
}

.header {
    margin-bottom: 8px;
    background-color: aliceblue;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    padding: 12px 0;
}

.number {
    margin-bottom: 8px;
    color: #000000;
    padding-left: 12px;
}

.price {
    padding-left: 12px;
    color: #000000;
}

.price span {
    font-weight: 400;
}

.passangerData {
    padding-left: 12px;
}

.passangerData div {
    margin-bottom: 10px;
}

.passangerData div:last-child {
    margin-bottom: 0;
}

.passangerTitle {
    font-size: 14px;
    color: #383838;
    margin-bottom: 6px;
}

.passangerName {
    text-transform: uppercase;
    color: #000000;
    font-size: 18px;
}

.warning {
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    padding: 30px 12px;
    font-size: 18px;
}

.warningText {
    color: #000000;
}

.warningText span {
    font-weight: 700;
    display: inline-block;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
        padding-top: 70px;
    }

    .passangersBox {
        width: 100%;
    }

    .passangersBox li:last-child {
        margin-bottom: 0;
    }

    .header {
        display: flex;
    }

    .number {
        margin: 0 20px 0 0;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        padding-top: 90px;
    }

    .passangerTitle {
        margin-bottom: 16px;
    }

    .passangerData {
        display: flex;
    }

    .passangerData div {
        width: 170px;
        margin: 0 20px 0 0;
    }

    .title {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        padding-top: 110px;
    }
}