.bgnd {
    background-image: url('../images/BlankMap-Europe.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    min-height: 100vh;
}
.container {
    width: 1140px;
    margin: 0 auto;
    padding-top: 20px;
}