.formBox {
    width: 96%;
    margin: 0 auto;
    padding: 30px 17px;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    width: 300px;
    margin: 20px auto 20px;
    font-size: 30px;
    text-align: center;
}

.tripsBox {
    padding-bottom: 20px;
}

@media(min-width: 768px) {
    .formBox {
        height: 255px;

    }
}

@media(min-width: 1200px) {
    .formBox {
        height: 128px;

    }
}