.form {
    position: relative;
}

.datePicker {
    width: 100%;
    height: 58.38px;
    padding: 1px 10px;
    border: 2px solid var(--color-secondary);
    border-radius: 4px;
    background: transparent;
    background-image: url('../../images/insert_invitation-black-48dp.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    outline: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
}

.inputBox {
    width: 86%;
    margin-bottom: 10px;
}

.searchBtn {
    height: 58px;
    width: 86%;
    color: var(--color-secondary) !important;
    background-color: var(--color-third) !important
}

.arrow {
    position: absolute;
    top: 40px;
    right: 0px;
    transform: rotate(90deg);
    cursor: pointer;
}

@media (min-width: 576px) {
    .flex {
        display: flex;
        justify-content: space-between;
    }

    .flex>div {
        width: 49%;
    }

    .searchBtn {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .fromTo {
        display: flex;
    }

    .arrow {
        position: static;
        transform: rotate(180deg);
        margin: 10px;
        width: 50px;
    }
}


@media (min-width: 1200px) {
    .form {
        display: flex;
        align-items: flex-start;
    }
    .searchBtn {
        width: 100px;
    }
    .inputBox{
        width: 210px;
    }
    .flex {
        width: 470px;
        margin-right: 10px;
    }
    .fromTo {
        margin-right: 10px;
    }
    .arrow {
        margin: 10px 0;
    }
}