/* ========================================== */

.alert-enter {
    margin-right: -80%;
}

.alert-enter-active {
    margin-right: 0;
    transition: margin-right 300ms ease-out;
}

.alert-exit {
    margin-right: 0;
}

.alert-exit-active {
    margin-right: -80%;
    transition: margin-right 300ms ease-out;
    color: rgb(43, 43, 83)
}





