.header {
    position: fixed;
    width: 100%;
    background-color: var(--color-main);
    z-index: 50;
}

.container {
    max-width: 540px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.link {
    display: block;
    width: 100px;
    height: 30px;
    background-image: url('../../images/ibusik-logo-white.png');
    background-size: cover;
}

.tel {
    display: none;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .link {
        width: 150px;
        height: 45px;
    }

    .tel {
        display: block;
        padding: 5px 0 5px 30px;
        background-image: url('../../images/support_agent-24px.svg');
        background-repeat: no-repeat;
        background-position: 0px 2px;
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .tel {
        font-size: 18px;
    }
}