.container {
    position: relative;
}
.tooltip,
.tooltipYellow {
    cursor: pointer;
    border-radius: 6px;
    padding: 0;
    border: none;
}

 .tooltipYellow::before  {
    border-right-color: var(--color-secondary);
    transition: border-right-color 300ms;
}

.tooltip::before  {
    border-right-color: #fff;
    transition: border-right-color 300ms;
}


.text {
    padding: 4px 10px;
}
.tooltip {
    background-color: #fff;
    transition: background-color 300ms;
}

.tooltipYellow {
    background-color: var(--color-secondary);
    transition: background-color 300ms;
}



/* form */
.formBox {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    z-index: 999;
    position: absolute;
    padding: 5px ;
    color: var(--text-color-main);
    box-shadow: 0 2px 5px 1px rgb(241, 241, 241);
}

.input {
    width: 45%;
}

.fromTo {
    white-space: nowrap;
    padding: 10px 10px 5px;
    border: 1px solid var(--color-secondary);
    border-radius: 6px;
    overflow: hidden;
    min-height: 35.4px;
    text-overflow: ellipsis;
    color: var(--color-main);
}

.inputsBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: -10px;
}

.label {
    /* font-style: italic; */
    display: inline-block;
    font-size: 12px;
    margin: 0 0 4px 6px;
    font-weight: 500;
    padding: 0 4px;
    transform: translateY(10px);
    background-color: #fff;
    color: var(--color-secondary)
}

.link {
    display: block;
    padding: 5px;
    width: 100%;
    border: 1px solid var(--color-secondary);
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-main);
    background-color: none;
    cursor: pointer;
}
.link:hover{
    font-weight: 700;
}
.link:disabled{
    cursor: not-allowed
}
@media(min-width: 576px){
    .formBox {
        width: 360px;
        right: 0px;
    }
}